.login__success{
    position: relative;
    width: fit-content;
    margin: 200px auto 0;
    text-align: center;
}

.icon-1{
    position: absolute;
    top: -30px;
    left: 120px;
    width: 27px;   
    animation: spinn 1s linear 4s infinite alternate;
}

.icon-2{
    position: absolute;
    bottom: -80px;
    right: 70px;
    width: 28px;
    animation: spined 1s linear 4s infinite alternate;
}

.icon-3{
    position: absolute;
    bottom: -170px;
    left: 30px;
    width: 28px;
    animation: spinn 1s linear 4s infinite alternate;
}

.icon-4{
    position: absolute;
    bottom: -60px;
    left: 190px;
    width: 28px;
    animation: spinn 1s linear 4s infinite alternate;
}

.icon-5{
    position: absolute;
    top: 110px;
    left: 10px;
    width: 28px;
    animation: spined 1s linear 4s infinite alternate;
}

.icon-6{
    position: absolute;
    top: -120px;
    right: 10px;
    width: 28px;
    animation: spinn 1s linear 4s infinite alternate;
}

.check-icon img{
    width: 130px;
}
@keyframes spinn {
    from {
      transform: scale(1) rotate(0);
    }
    to {
      transform: scale(1.4) rotate(45deg);
    }
  }

  @keyframes spined {
    from {
      transform: scale(1) rotate(0);
    }
    to {
      transform: scale(1.4) rotate(-45deg);
    }
  }


.login__success .check-icon{
    margin-bottom: 20px;
}
.login__success h1{
    margin-bottom: 40px;
    font-size: 27px;
}

.login__success .login-message{
    display: grid;
    justify-content: flex-end;
    grid-template-columns: auto auto;
    font-family: 'Open Sans', sans-serif;
    background-color: #dff0d7;
    padding: 30px 20px;
    font-size: 1.1em;
    color: #417c42;
    margin-bottom: 50px;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgba(128, 128, 128, 0.365);
}

.login__success .close .close-btn{
    border: none;
    outline: none;
    background-color: transparent;
    border: 1px solid #8d8f8f;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 1.2em;
    color: #ffffff;
    background-color: #417c42;
    cursor: pointer;
    box-shadow: 0 4px 20px 0 rgba(128, 128, 128, 0.365);
}

.login__success .close .close-btn:hover{
    background-color: #417c42ce;
}
@media only screen and (min-width: 600px){
    .login__success h1{
        margin-bottom: 40px;
        font-size: xx-large;
    }
}